


<div class='title_app'>
  <h1>Blocitoff</h1>
</div>

<div class='subtitle'>
  <h3>A self-destructin to-do list to keep you focused on the things that really matter.</h3>
</div>

<div class='row'>
  <%= text_field(:email, :address, {id: "email", placeholder: "Finish my Blocitoff application", :class => 'form-control email_field', :style => 'width: 400px; margin-top:40px; margin-left:380px;'}) %>

  <%= text_field(:email, :address, {id: "email", placeholder: "Improve my design skills", :class => 'form-control email_field', :style => 'width: 400px; margin-top:20px; margin-left:380px;'}) %>

  <%= text_field(:email, :address, {id: "email", placeholder: "Buy a gift for my love", :class => 'form-control email_field', :style => 'width: 400px; margin-top:20px; margin-left:380px;'}) %>
  
  <%= text_field(:email, :address, {id: "email", placeholder: "Book our flight ticket - PARISSSSS", :class => 'form-control email_field', :style => 'width: 400px; margin-top:20px; margin-left:380px;'}) %>

  <%= text_field(:email, :address, {id: "email", placeholder: "Time to sleep", :class => 'form-control email_field', :style => 'width: 400px; margin-top:20px; margin-left:380px;'}) %>
</div>


