<h2 class='title_page'>Log in</h2>

<div class='container'>
  <div class='row'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group form_login">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: 'form-control field_login', placeholder: "Enter name" %>
    </div>

    <div class="form-group ">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true,class: 'form-control field_login' %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off",class: 'form-control field_login'%>
    </div>

    <div class="form-group">
  <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-success' %>
    </div>
  <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
