<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



  <nav class="navbar navbar-default" role="navigation">
    <a class="navbar-brand" href='/welcome/index'>Blocitoff</a>

      <% if current_user %>
          Hello <%= current_user.email %>! <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <div class="pull-right right-nav">
            <%= link_to "Sign In", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path %>
          </div>
        <% end %>
     
  </nav>

<div class='container'>
      
    


  


<%= yield %>

</div>

</body>
</html>
